extends layout

block content
  include partials/header
  h1 This is our #{aboutme}
  h2 My name is harvinder Singh
  h3 My hobbies are playing cricket, basketball, reading books
  h3 Favourite movies:- roy,baby,base pasand
  h3 Work experience:- shell(sales represtative) , circle-k(manager)
  h3 Study:- georgian college (diploma)
  include partials/footer