extends layout

block content
  include partials/header
  h1 This is our #{project} 
  p This Express site must include the pages from your Personal Portfolio 5 pages – your Home page, an About Me page, a Projects page, a Services page, and a Contact Me page
  p Generate your site structure with the Express Generator. Note: You must use the -e option to ensure that you implement the PUG templating engine for Express
  p Ensure you include a comment header for your HTML, CSS and JavaScript files that indicate: the File name, Author's name, web site name, and file description
  include partials/footer
  