extends layout

block content
  include partials/header
  h1 This is our #{project} 
  p Project #1: This is a high school science project with a strong local focus. The teacher behind the idea is from Nevada, where the wild horse population poses a threat to the fragile desert ecosystem. Students will research the issue and propose solutions to an expert panel. They will be expected to defend their solutions based on facts, data, and ethical decision-making, and appeal to stakeholders on all sides of this contentious issue. Note: Although this project idea is tied to a specific location, other teachers could adapt it by considering the ecological issues facing their communities.
  p Project #2: Here's a project for upper elementary or middle school grades that's big on the fun factor while addressing specific science and engineering content. Design constraints set expectations that the vehicle will be safe for the hamster and durable enough for multiple trials. Students (and hamsters) will test their final products in lunch-hour races and other public demonstrations. Videos of these events will be shared online to reach a wider audience
  p Project #3: Here's an idea that could generate measurable savings for local schools, while giving students the opportunity to apply their understanding of energy. Depending on content focus and grade level, students could investigate everything from energy audits to alternative energy sources and behavior change
  include partials/footer
  